<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcpt.marketplace">

    <permission
        android:name="com.hcpt.marketplace.googlemapv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.hcpt.marketplace.network.ControllerRequest"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_new2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.hcpt.marketplace.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hcpt.marketplace.activity.tabs.MainTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="com.hcpt.marketplace.activity.tabs.HomeActivity" />
        <activity android:name="com.hcpt.marketplace.activity.tabs.SearchActivity" />
        <activity android:name=".activity.tabs.cart.ShopCartDetailActivity" />
        <activity android:name="com.hcpt.marketplace.activity.tabs.MainCartActivity" />
        <activity android:name="com.hcpt.marketplace.activity.tabs.MainUserActivity" />
        <activity android:name="com.hcpt.marketplace.activity.SearchShopResultActivity" />
        <activity android:name="com.hcpt.marketplace.activity.SearchProductResultActivity" />
        <activity android:name="com.hcpt.marketplace.activity.DetailShopOrderActivity" />
        <activity android:name="com.hcpt.marketplace.activity.DetailFoodOfShopOrderActivity" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.hcpt.marketplace.activity.AddReviewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.hcpt.marketplace.activity.tabs.user.ForgotPasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.tabs.user.PreferencesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tabs.user.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.hcpt.marketplace.activity.ListCategoryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hcpt.marketplace.activity.ShopDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hcpt.marketplace.activity.ShopsCommentActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hcpt.marketplace.activity.ProductCommentActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hcpt.marketplace.activity.ListFoodActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hcpt.marketplace.activity.tabs.user.FavoriteActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hcpt.marketplace.activity.ProductDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hcpt.marketplace.activity.MapDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Paypal activity -->

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
    </application>

</manifest>
